<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donation</title>
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/public/css/payment_success.css">

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 class="text-center1 messagethx" >{{ message }}</h2>
    <a href="{{ home_path }}" class="btn btn-success btn-lg">Back</a>

</body>
</html>